@media only screen and (max-width : 480px) {

    body {
        color: white;
        background: linear-gradient(45deg, black 0%, aqua 100%);
        font-family: Georgia, 'Times New Roman', Times, serif
    }

    #wrapper {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

    }
    /*Homepage */
    .navBar ul a{
        text-decoration: none;
    }
    .navBar ul {
        text-decoration: none;
        padding-left: 0;
        list-style: none;
       

    }
    .navBar li a {
        text-decoration: none;
    }
    .headerContainer, .navBar {
        flex-direction: column;
        
    }
.navBar{
    font-size: medium;
    flex-direction: column;
    background-color: black;
}
.navButton{
    text-decoration: none;
    font-size: medium;
    margin: auto;
    display: block;
    background-color: black;
    color: white;
}

.navButton:hover {
    background-color: silver;
}

#box{
    flex-direction: column;
    justify-items:center ;
    
  
}

.homepageContainer {
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}
.welcome{
    position: absolute;
    font-size: small;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#body img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0;
}

#box {
   background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

.aboutContainer,
.projectsContainer,
.contactContainer {
    background-color: white;
    padding: 20px;
    border: 100px;
    width: 60%;
    height: auto;
    text-align: center;
    border-radius:25px;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.aboutContainer h3
.projectsContainer h3 ,
.contactContainer h3  {
   text-align: center;
}

.aboutContainer a,
.projectsContainer a,
.contactContainer a {
    text-decoration: none;
    color: black;
}

.aboutContainer:hover,
.projectsContainer:hover,
.contactContainer:hover {
    background-color: silver;
    box-shadow: 4px 4px 5px silver;
   
}
/*End of Homepage*/

/*About me Page*/

#aboutmePage .leftCol {
    float: left;
    width: 50%;
    height: 500px;
}
#aboutmePage .leftCol img{
    border-radius: 100px;
    margin-left: 250px;
    justify-content: center;
    align-content: center;
}

#aboutmePage  .rightCol {
    float: right;
    width: 50%;
    height: 500px;
 
}
#aboutmePage  .aboutImage img{
    justify-content: center;
}
#aboutmePage video{
    height: auto;
    width: auto;
margin-bottom: 5px;
}
/*End of About Me*/

/*Projects Page*/
#projects .projectItems{
    color: white;
}
#projects .projectContainer h2{
    text-align: center;
}
#projects .projectContainer h4 {
    margin-left: 40px;
}
#projects .projectContainer h1{
    margin-left: 15px;
}
#projects img{
    align-items: center;
    margin: auto;
    display: block;
    width: 50%;
}
#projects #pythonImg {
    align-items: center;
    margin: auto;
    display: block;
    width: 25%;
}
/*End of Projects Page*/
#contact body {
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#contact .contactBox {
    margin-left: 25px;
}

#contact .nameBox {
    justify-content: space-between;

}
#contact form {
    margin-left: auto;
}

#contact .contactButtons {
    align-items: center;
}
/*End of Contact Page*/
    #footer {
        background-color: grey;
        color: white;
        height: 80px;
        align-items: center;
        height: auto;
        padding: 10px;
    }
    
   
}