@media only screen and (min-width : 481px) and (max-width: 960px) {
body{
    background: linear-gradient(45deg, black 0%, aqua 100%);
    color: white;

}
#wrapper{
    height:auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
/*Header*/
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: black;

}

.navBar {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    background-color: black;
    padding: 0px 10px;

}

.navBar h1 {
    margin-left: 5px;
    justify-content: space-between;
    font-size:large;
}

.navBar ul {
    display: flex;
    float: right;
    list-style: none;
    padding: 0;
    top: 50%
}

.navBar li {
    float: right;
    top: 50%
}

.navButton {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    border: none;
    font-size:large;
}

.navButton:hover {
    background-color: silver;
}
/*End of Header*/

/*Homepage section*/
.homepageContainer {
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}
.welcome{
    position: absolute;
    font-size: x-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#homepage img{
    width: 100%;
    object-fit: cover;
   
   
}
#box {
    background-color: black;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
 }
 
 .aboutContainer,
 .projectsContainer,
 .contactContainer {
     background-color: white;
     padding: 20px;
     border: 5px;
     width: 150px;
     height: 150px;
     text-align: center;
     border-radius:50px;
     
 }
 .aboutContainer h3
 .projectsContainer h3 ,
 .contactContainer h3  {
    text-align: center;
 }
 
 .aboutContainer a,
 .projectsContainer a,
 .contactContainer a {
     text-decoration: none;
     color: black;
 }
 
 .aboutContainer:hover,
 .projectsContainer:hover,
 .contactContainer:hover {
     background-color: silver;
     box-shadow: 10px 10px 5px silver;
     opacity: 3;
 }
 /*End of Homepage*/
 /*About Me Page*/
 #aboutmePage .leftCol {
    float: left;
    width: 50%;
    height: 500px;
}
#aboutmePage .leftCol img{
    border-radius: 25px;
    margin-left: 250px;
}

#aboutmePage  .rightCol {
    float: right;
    width: 50%;
    height: 500px;
 
}
.aboutLeft img{
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.aboutLeft video{
    margin: auto;
    height: auto;
}
/*End of About Me*/

/*Projects Page*/
#projects .projectItems{
    color: white;
}
#projects .projectContainer h2{
    text-align: center;
}
#projects .projectContainer h4 {
    margin-left: 40px;
}
#projects .projectContainer h1{
    margin-left: 15px;
}
#projects img{
    align-items: center;
    margin: auto;
    display: block;
    width: 50%;
}
#projects #pythonImg {
    align-items: center;
    margin: auto;
    display: block;
    width: 25%;
    margin-bottom: 10px;
}
/*Contacts Page*/
#contact body {
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#contact .contactBox {
    margin-left: 25px;
}

#contact form {
    margin-left: 170px;
}
.phoneEmail, .contactButtons, .nameBox{
    display: block;
    width: 100%;
    margin-bottom: 10px;
   
}
.contactButtons{
    padding-bottom: 20px;
}
/*End of Contact Page*/

 /*Footer*/
 .footerContainer {
     margin-bottom: auto;
     align-items: center;
     text-align: center;
     background-color: silver;
     padding: 10px;
 }

 
 #footer {
     background-color: silver;
     color: white;
     height: auto;
     align-items: center;
     padding-top: 20px;
    
 }
 /*End of Footer*/
 
 .clear {
     clear: both;
 }
}